{{>header}}
<body>
 <div class="container">
{{>navbar}}


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
     
    
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <h3 class="lead">I create this only for backend .This is my backend practice project</h3>
            <h2 class="lead">THANK YOU</h2>
         
                <a href="/register" class="btn btn-lg btn-secondary">Register</a>    <a href="/login" class="btn btn-lg btn-secondary">LOGIN</a>
            </p>
        </main>
    
        
    </div>



 </div>

{{>footer}}
